/*Nav Bar CSS*/
* {
	margin: 0;
	padding: 0;
}
body {


	background: #3e3e3e;
	min-height: 100vh;
	font-family: "Roboto";
	overflow-x: hidden;

	width: 100%;
	height: 100%;
}

.logo > img{
	height: 40px;
	margin-right: 10px;
	min-width: 50px;
}
/* Desktop view */
.navbar {
	width: 100%;

	background: #fff;
	border-bottom: 1px solid #ccc;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	box-sizing: border-box;
}
.icon, .close-btn {
	display: none;
	font-size: 1.2em;
	cursor: pointer;
}

.links {
	display: flex;
	list-style: none;

}
.links li {
	margin-right: 24px;
}
.links li a {
	text-decoration: none;
	color: #575757;
	letter-spacing: -0.5px;
}
.links li a:hover {
	color: #000;
}
.backdrop {
	display: none;
	animation: 0.4s ease-in-out fadeIn forwards;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
	justify-content: space-evenly;
}
@keyframes fadeIn {
	to {
		background: rgba(0, 0, 0, 0.8);
	}
}
/* Mobile view */
@media (max-width: 675px) {

	body {
		background: #3e3e3e;
		min-height: 100vh;
		font-family: "Roboto";
		overflow-x: hidden;

		box-sizing: border-box;
		width: 100%;

		height: 100%;

}

	.links-wrapper > ul {
		display: none;
	}
	.close-btn {
		display: none;
	}
	.icon {
		display: block;
		position: absolute;


		right: 24px;
		writing-mode: vertical-rl;
		font-family: "Times New Roman", Times, serif;

	}
	.links {

		position: absolute;
		top: 0;
		height: 100%;
		width: 90%;
		right: -90%;
		background: #fff;
		flex-direction: column;
		/*justify-content: center;*/
		
		padding-top: 50px;
		text-align: center;
		z-index: 2;
		transition: 0.3s ease-in-out;
	}
	.links li {
		margin-right: 0;
		margin-bottom: 40px;
		font-size: 1.5em;


	}
	.close-btn {
		position: absolute;
		top: 24px;
		right: -90vh;
		color: #575757;
		font-family: "Adobe Arabic";
		font-size: 2em;
		z-index: 3;
		transition: 0.3s ease-in-out;
		border: 1px solid black;
		padding: 5px;
	}
	.close-btn:hover {
		color: #000;
		cursor: pointer;
	}
	/* Open class */
	.open .links {
		right: 0;
	}
	.open .close-btn {
		display: block;
		right: 32px;
	}
	.open .backdrop {
		display: block;
	}

	.open > ul {
		display: flex;
	}



	.logo{
		align-items: center;
		justify-content: center;
	}
}


/* Website background image */

.wsite-background{
	background-image: url('../../asme/601458852.jpg');
    background-repeat: no-repeat !important;
    background-position: 50.00% 16.22% !important;
    background-size: cover;
    background-color: transparent !important;

	position: relative;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    background-attachment: fixed !important;
}





.social-item-inner{

	padding-right: 11px;
	padding-left: 12px;
	padding-bottom: 14px;

}
/* https://www.iconfinder.com/iconsets/social-media-black-white-2 */
a.facebook{
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjEwMCUiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01MTIsMjU3LjU1NWMwLC0xNDEuMzg1IC0xMTQuNjE1LC0yNTYgLTI1NiwtMjU2Yy0xNDEuMzg1LDAgLTI1NiwxMTQuNjE1IC0yNTYsMjU2YzAsMTI3Ljc3NyA5My42MTYsMjMzLjY4NSAyMTYsMjUyLjg5bDAsLTE3OC44OWwtNjUsMGwwLC03NGw2NSwwbDAsLTU2LjRjMCwtNjQuMTYgMzguMjE5LC05OS42IDk2LjY5NSwtOTkuNmMyOC4wMDksMCA1Ny4zMDUsNSA1Ny4zMDUsNWwwLDYzbC0zMi4yODEsMGMtMzEuODAxLDAgLTQxLjcxOSwxOS43MzMgLTQxLjcxOSwzOS45NzhsMCw0OC4wMjJsNzEsMGwtMTEuMzUsNzRsLTU5LjY1LDBsMCwxNzguODljMTIyLjM4NSwtMTkuMjA1IDIxNiwtMTI1LjExMyAyMTYsLTI1Mi44OVoiIHN0eWxlPSJmaWxsLXJ1bGU6bm9uemVybzsiLz48L3N2Zz4=');
	background-repeat: no-repeat;
	background-size: cover;



}

a.twitter{
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjEwMCUiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0xNjEuMDE0LDQ2NC4wMTNjMTkzLjIwOCwwIDI5OC44ODUsLTE2MC4wNzEgMjk4Ljg4NSwtMjk4Ljg4NWMwLC00LjU0NiAwLC05LjA3MiAtMC4zMDcsLTEzLjU3OGMyMC41NTgsLTE0Ljg3MSAzOC4zMDUsLTMzLjI4MiA1Mi40MDgsLTU0LjM3NGMtMTkuMTcxLDguNDk1IC0zOS41MSwxNC4wNjUgLTYwLjMzNCwxNi41MjdjMjEuOTI0LC0xMy4xMjQgMzguMzQzLC0zMy43ODIgNDYuMTgyLC01OC4xMDJjLTIwLjYxOSwxMi4yMzUgLTQzLjE4LDIwLjg1OSAtNjYuNzAzLDI1LjQ5OGMtMTkuODYyLC0yMS4xMjEgLTQ3LjYwMiwtMzMuMTEyIC03Ni41OTMsLTMzLjExMmMtNTcuNjgyLDAgLTEwNS4xNDUsNDcuNDY0IC0xMDUuMTQ1LDEwNS4xNDRjMCw4LjAwMiAwLjkxNCwxNS45NzkgMi43MjIsMjMuNzczYy04NC40MTgsLTQuMjMxIC0xNjMuMTgsLTQ0LjE2MSAtMjE2LjQ5NCwtMTA5Ljc1MmMtMjcuNzI0LDQ3LjcyNiAtMTMuMzc5LDEwOS41NzYgMzIuNTIyLDE0MC4yMjZjLTE2LjcxNSwtMC40OTUgLTMzLjA3MSwtNS4wMDUgLTQ3LjY3NywtMTMuMTQ4bDAsMS4zMzFjMC4wMTQsNDkuODE0IDM1LjQ0Nyw5My4xMTEgODQuMjc1LDEwMi45NzRjLTE1LjQ2NCw0LjIxNyAtMzEuNjkzLDQuODMzIC00Ny40MzEsMS44MDJjMTMuNzI3LDQyLjY4NSA1My4zMTEsNzIuMTA4IDk4LjE0LDcyLjk1Yy0zNy4xOSwyOS4yMjcgLTgzLjE1Nyw0NS4xMDMgLTEzMC40NTgsNDUuMDU2Yy04LjM1OCwtMC4wMTYgLTE2LjcwOCwtMC41MjIgLTI1LjAwNiwtMS41MTZjNDguMDM0LDMwLjgyNSAxMDMuOTQsNDcuMTggMTYxLjAxNCw0Ny4xMDQiIHN0eWxlPSJmaWxsLXJ1bGU6bm9uemVybzsiLz48L3N2Zz4=');
	background-repeat: no-repeat;
	background-size: cover;
}

a.instagram{
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNjAwIDYwMCIgd2lkdGg9IjEwMCUiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIHRyYW5zZm9ybT0ibWF0cml4KDEuMDE2MTksMCwwLDEuMDE2MTksNDQsNDMuODM4NCkiPjxwYXRoIGQ9Ik0yNTEuOTIxLDAuMTU5QzE4My41MDMsMC4xNTkgMTc0LjkyNCwwLjQ0OSAxNDguMDU0LDEuNjc1QzEyMS4yNCwyLjg5OSAxMDIuOTI3LDcuMTU3IDg2LjkwMiwxMy4zODVDNzAuMzM2LDE5LjgyMyA1Ni4yODcsMjguNDM3IDQyLjI4Miw0Mi40NDJDMjguMjc3LDU2LjQ0NyAxOS42NjMsNzAuNDk2IDEzLjIyNSw4Ny4wNjJDNi45OTcsMTAzLjA4NiAyLjczOSwxMjEuMzk5IDEuNTE1LDE0OC4yMTNDMC4yODksMTc1LjA4MyAwLDE4My42NjIgMCwyNTIuMDhDMCwzMjAuNDk3IDAuMjg5LDMyOS4wNzYgMS41MTUsMzU1Ljk0NkMyLjczOSwzODIuNzYgNi45OTcsNDAxLjA3MyAxMy4yMjUsNDE3LjA5N0MxOS42NjMsNDMzLjY2MyAyOC4yNzcsNDQ3LjcxMiA0Mi4yODIsNDYxLjcxOEM1Ni4yODcsNDc1LjcyMyA3MC4zMzYsNDg0LjMzNyA4Ni45MDIsNDkwLjc3NUMxMDIuOTI3LDQ5Ny4wMDIgMTIxLjI0LDUwMS4yNjEgMTQ4LjA1NCw1MDIuNDg0QzE3NC45MjQsNTAzLjcxIDE4My41MDMsNTA0IDI1MS45MjEsNTA0QzMyMC4zMzgsNTA0IDMyOC45MTcsNTAzLjcxIDM1NS43ODcsNTAyLjQ4NEMzODIuNjAxLDUwMS4yNjEgNDAwLjkxNCw0OTcuMDAyIDQxNi45MzgsNDkwLjc3NUM0MzMuNTA0LDQ4NC4zMzcgNDQ3LjU1Myw0NzUuNzIzIDQ2MS41NTksNDYxLjcxOEM0NzUuNTY0LDQ0Ny43MTIgNDg0LjE3OCw0MzMuNjYzIDQ5MC42MTYsNDE3LjA5N0M0OTYuODQzLDQwMS4wNzMgNTAxLjEwMiwzODIuNzYgNTAyLjMyNSwzNTUuOTQ2QzUwMy41NTEsMzI5LjA3NiA1MDMuODQxLDMyMC40OTcgNTAzLjg0MSwyNTIuMDhDNTAzLjg0MSwxODMuNjYyIDUwMy41NTEsMTc1LjA4MyA1MDIuMzI1LDE0OC4yMTNDNTAxLjEwMiwxMjEuMzk5IDQ5Ni44NDMsMTAzLjA4NiA0OTAuNjE2LDg3LjA2MkM0ODQuMTc4LDcwLjQ5NiA0NzUuNTY0LDU2LjQ0NyA0NjEuNTU5LDQyLjQ0MkM0NDcuNTUzLDI4LjQzNyA0MzMuNTA0LDE5LjgyMyA0MTYuOTM4LDEzLjM4NUM0MDAuOTE0LDcuMTU3IDM4Mi42MDEsMi44OTkgMzU1Ljc4NywxLjY3NUMzMjguOTE3LDAuNDQ5IDMyMC4zMzgsMC4xNTkgMjUxLjkyMSwwLjE1OVpNMjUxLjkyMSw0NS41NTFDMzE5LjE4Niw0NS41NTEgMzI3LjE1NCw0NS44MDcgMzUzLjcxOCw0Ny4wMTlDMzc4LjI4LDQ4LjE0IDM5MS42MTksNTIuMjQ0IDQwMC40OTYsNTUuNjkzQzQxMi4yNTUsNjAuMjYzIDQyMC42NDcsNjUuNzIzIDQyOS40NjIsNzQuNTM4QzQzOC4yNzgsODMuMzUzIDQ0My43MzcsOTEuNzQ2IDQ0OC4zMDcsMTAzLjUwNEM0NTEuNzU3LDExMi4zODEgNDU1Ljg2MSwxMjUuNzIgNDU2Ljk4MSwxNTAuMjgyQzQ1OC4xOTMsMTc2Ljg0NiA0NTguNDUsMTg0LjgxNCA0NTguNDUsMjUyLjA4QzQ1OC40NSwzMTkuMzQ1IDQ1OC4xOTMsMzI3LjMxMyA0NTYuOTgxLDM1My44NzdDNDU1Ljg2MSwzNzguNDM5IDQ1MS43NTcsMzkxLjc3OCA0NDguMzA3LDQwMC42NTVDNDQzLjczNyw0MTIuNDE0IDQzOC4yNzgsNDIwLjgwNiA0MjkuNDYyLDQyOS42MjFDNDIwLjY0Nyw0MzguNDM3IDQxMi4yNTUsNDQzLjg5NiA0MDAuNDk2LDQ0OC40NjZDMzkxLjYxOSw0NTEuOTE2IDM3OC4yOCw0NTYuMDIgMzUzLjcxOCw0NTcuMTRDMzI3LjE1OCw0NTguMzUyIDMxOS4xOTEsNDU4LjYwOSAyNTEuOTIxLDQ1OC42MDlDMTg0LjY1LDQ1OC42MDkgMTc2LjY4NCw0NTguMzUyIDE1MC4xMjMsNDU3LjE0QzEyNS41NjEsNDU2LjAyIDExMi4yMjIsNDUxLjkxNiAxMDMuMzQ1LDQ0OC40NjZDOTEuNTg2LDQ0My44OTYgODMuMTk0LDQzOC40MzcgNzQuMzc4LDQyOS42MjFDNjUuNTYzLDQyMC44MDYgNjAuMTAzLDQxMi40MTQgNTUuNTM0LDQwMC42NTVDNTIuMDg0LDM5MS43NzggNDcuOTgsMzc4LjQzOSA0Ni44NTksMzUzLjg3N0M0NS42NDcsMzI3LjMxMyA0NS4zOTEsMzE5LjM0NSA0NS4zOTEsMjUyLjA4QzQ1LjM5MSwxODQuODE0IDQ1LjY0NywxNzYuODQ2IDQ2Ljg1OSwxNTAuMjgyQzQ3Ljk4LDEyNS43MiA1Mi4wODQsMTEyLjM4MSA1NS41MzQsMTAzLjUwNEM2MC4xMDMsOTEuNzQ2IDY1LjU2Myw4My4zNTMgNzQuMzc4LDc0LjUzOEM4My4xOTQsNjUuNzIzIDkxLjU4Niw2MC4yNjMgMTAzLjM0NSw1NS42OTNDMTEyLjIyMiw1Mi4yNDQgMTI1LjU2MSw0OC4xNCAxNTAuMTIzLDQ3LjAxOUMxNzYuNjg3LDQ1LjgwNyAxODQuNjU1LDQ1LjU1MSAyNTEuOTIxLDQ1LjU1MVoiIHN0eWxlPSJmaWxsLXJ1bGU6bm9uemVybzsiLz48cGF0aCBkPSJNMjUxLjkyMSwzMzYuMDUzQzIwNS41NDMsMzM2LjA1MyAxNjcuOTQ3LDI5OC40NTcgMTY3Ljk0NywyNTIuMDhDMTY3Ljk0NywyMDUuNzAyIDIwNS41NDMsMTY4LjEwNiAyNTEuOTIxLDE2OC4xMDZDMjk4LjI5OCwxNjguMTA2IDMzNS44OTQsMjA1LjcwMiAzMzUuODk0LDI1Mi4wOEMzMzUuODk0LDI5OC40NTcgMjk4LjI5OCwzMzYuMDUzIDI1MS45MjEsMzM2LjA1M1pNMjUxLjkyMSwxMjIuNzE1QzE4MC40NzQsMTIyLjcxNSAxMjIuNTU2LDE4MC42MzMgMTIyLjU1NiwyNTIuMDhDMTIyLjU1NiwzMjMuNTI2IDE4MC40NzQsMzgxLjQ0NCAyNTEuOTIxLDM4MS40NDRDMzIzLjM2NywzODEuNDQ0IDM4MS4yODUsMzIzLjUyNiAzODEuMjg1LDI1Mi4wOEMzODEuMjg1LDE4MC42MzMgMzIzLjM2NywxMjIuNzE1IDI1MS45MjEsMTIyLjcxNVoiIHN0eWxlPSJmaWxsOnJnYigzLDQsNCk7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTQxNi42MjcsMTE3LjYwNEM0MTYuNjI3LDEzNC4zIDQwMy4wOTIsMTQ3LjgzNCAzODYuMzk2LDE0Ny44MzRDMzY5LjcwMSwxNDcuODM0IDM1Ni4xNjYsMTM0LjMgMzU2LjE2NiwxMTcuNjA0QzM1Ni4xNjYsMTAwLjkwOCAzNjkuNzAxLDg3LjM3NCAzODYuMzk2LDg3LjM3NEM0MDMuMDkyLDg3LjM3NCA0MTYuNjI3LDEwMC45MDggNDE2LjYyNywxMTcuNjA0WiIgc3R5bGU9ImZpbGw6cmdiKDMsNCw0KTtmaWxsLXJ1bGU6bm9uemVybzsiLz48L2c+PC9zdmc+');
	background-repeat: no-repeat;
	background-size: cover;
}


a.slack{
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjEwMCUiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnPjxwYXRoIGQ9Ik0xMDcuNTcsMzIzLjU0NGMwLDI5LjYwMyAtMjQuMTgyLDUzLjc4NSAtNTMuNzg1LDUzLjc4NWMtMjkuNjAyLDAgLTUzLjc4NSwtMjQuMTgyIC01My43ODUsLTUzLjc4NWMwLC0yOS42MDIgMjQuMTgzLC01My43ODUgNTMuNzg1LC01My43ODVsNTMuNzg1LDBsMCw1My43ODVaIiBzdHlsZT0iZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTEzNC42NzEsMzIzLjU0NGMwLC0yOS42MDIgMjQuMTgzLC01My43ODUgNTMuNzg1LC01My43ODVjMjkuNjAzLDAgNTMuNzg1LDI0LjE4MyA1My43ODUsNTMuNzg1bDAsMTM0LjY3MWMwLDI5LjYwMyAtMjQuMTgyLDUzLjc4NSAtNTMuNzg1LDUzLjc4NWMtMjkuNjAyLDAgLTUzLjc4NSwtMjQuMTgyIC01My43ODUsLTUzLjc4NWwwLC0xMzQuNjcxWiIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvOyIvPjwvZz48Zz48cGF0aCBkPSJNMTg4LjQ1NiwxMDcuNTdjLTI5LjYwMiwwIC01My43ODUsLTI0LjE4MiAtNTMuNzg1LC01My43ODVjMCwtMjkuNjAyIDI0LjE4MywtNTMuNzg1IDUzLjc4NSwtNTMuNzg1YzI5LjYwMywwIDUzLjc4NSwyNC4xODMgNTMuNzg1LDUzLjc4NWwwLDUzLjc4NWwtNTMuNzg1LDBaIiBzdHlsZT0iZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTE4OC40NTYsMTM0LjY3MWMyOS42MDMsMCA1My43ODUsMjQuMTgzIDUzLjc4NSw1My43ODVjMCwyOS42MDMgLTI0LjE4Miw1My43ODUgLTUzLjc4NSw1My43ODVsLTEzNC42NzEsMGMtMjkuNjAyLDAgLTUzLjc4NSwtMjQuMTgyIC01My43ODUsLTUzLjc4NWMwLC0yOS42MDIgMjQuMTgzLC01My43ODUgNTMuNzg1LC01My43ODVsMTM0LjY3MSwwWiIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvOyIvPjwvZz48Zz48cGF0aCBkPSJNNDA0LjQzLDE4OC40NTZjMCwtMjkuNjAyIDI0LjE4MywtNTMuNzg1IDUzLjc4NSwtNTMuNzg1YzI5LjYwMywwIDUzLjc4NSwyNC4xODMgNTMuNzg1LDUzLjc4NWMwLDI5LjYwMyAtMjQuMTgyLDUzLjc4NSAtNTMuNzg1LDUzLjc4NWwtNTMuNzg1LDBsMCwtNTMuNzg1WiIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik0zNzcuMzI5LDE4OC40NTZjMCwyOS42MDMgLTI0LjE4Miw1My43ODUgLTUzLjc4NSw1My43ODVjLTI5LjYwMiwwIC01My43ODUsLTI0LjE4MiAtNTMuNzg1LC01My43ODVsMCwtMTM0LjY3MWMwLC0yOS42MDIgMjQuMTgzLC01My43ODUgNTMuNzg1LC01My43ODVjMjkuNjAzLDAgNTMuNzg1LDI0LjE4MyA1My43ODUsNTMuNzg1bDAsMTM0LjY3MVoiIHN0eWxlPSJmaWxsLXJ1bGU6bm9uemVybzsiLz48L2c+PGc+PHBhdGggZD0iTTMyMy41NDQsNDA0LjQzYzI5LjYwMywwIDUzLjc4NSwyNC4xODMgNTMuNzg1LDUzLjc4NWMwLDI5LjYwMyAtMjQuMTgyLDUzLjc4NSAtNTMuNzg1LDUzLjc4NWMtMjkuNjAyLDAgLTUzLjc4NSwtMjQuMTgyIC01My43ODUsLTUzLjc4NWwwLC01My43ODVsNTMuNzg1LDBaIiBzdHlsZT0iZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTMyMy41NDQsMzc3LjMyOWMtMjkuNjAyLDAgLTUzLjc4NSwtMjQuMTgyIC01My43ODUsLTUzLjc4NWMwLC0yOS42MDIgMjQuMTgzLC01My43ODUgNTMuNzg1LC01My43ODVsMTM0LjY3MSwwYzI5LjYwMywwIDUzLjc4NSwyNC4xODMgNTMuNzg1LDUzLjc4NWMwLDI5LjYwMyAtMjQuMTgyLDUzLjc4NSAtNTMuNzg1LDUzLjc4NWwtMTM0LjY3MSwwWiIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvOyIvPjwvZz48L2c+PC9zdmc+');
	background-repeat: no-repeat;
	background-size: cover;
}

/*not included in icon pack but same website*/
a.email{
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiBoZWlnaHQ9IjI0cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjk4NCwxM0MxMC4wMzEsMTMtMC4wMzEsNC44OTEtMC4wMzEsNC44OTFWNGMwLTEuMTA0LDAuODk2LTIsMi4wMDItMmgyMC4wMjYgIEMyMy4xMDQsMiwyNCwyLjg5NiwyNCw0bC0wLjAxNiwxQzIzLjk4NCw1LDE0LjAzMSwxMywxMS45ODQsMTN6IE0xMS45ODQsMTUuNzVjMi4xNDEsMCwxMi03Ljc1LDEyLTcuNzVMMjQsMjAgIGMwLDEuMTA0LTAuODk2LDItMi4wMDMsMkgxLjk3MWMtMS4xMDUsMC0yLjAwMi0wLjg5Ni0yLjAwMi0ybDAuMDE2LTEyQy0wLjAxNiw4LDEwLjAzMSwxNS43NSwxMS45ODQsMTUuNzV6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
	background-repeat: no-repeat;
	background-size: cover;
}

/*end social network icons*/

.social{
    margin: 5px;
	min-height: 20px;
	min-width: 20px;
	padding-bottom:3.5px ;
}

.footer-jumbotron{
    display: flex;
    background: #b98a04;
    width: auto;
    line-height: 2;
    border-radius: 22px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #b98a04;
    border: solid black 4px;

}

@media (max-width: 650px) {


    .footer-jumbotron{
        width: 100%;
        border-radius: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 0px !important;
        height: 0px !important;
		padding: 25px !important;
        position: -webkit-sticky;

    }

}