{% extends 'base.html' %}

{% block head %}
{% load static %}
    <link href="{% static 'printrequest/css/asme.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}


<body class="wsite-background" style="background-size: cover;">


    <div class="wrapperbody" style="background: transparent;">
        <div class="flex ">
            <!--First Section Welcome-->
            <div class="jumbotron cjumbo">
        <div class="paragraph" style="text-align:center;">
            <strong><font color="#2a2a2a"><h1>{{ name }}Welcome to ASME at UCF!</h1></font></strong>

            <div class="carousel">
			<div class="slides">
				<img class="slide" src="/media/static/carousel/1.jpg" />
				<img class="slide" src="/media/static/carousel/2.jpg" />
				<img class="slide" src="/media/static/carousel/3.jpg" />
                <img class="slide" src="/media/static/carousel/4.jpg" />
				<img class="slide" src="/media/static/carousel/5.jpg" />
				<img class="slide" src="/media/static/carousel/6.jpg" />
                <img class="slide" src="/media/static/carousel/7.jpg" />
				<img class="slide" src="/media/static/carousel/8.jpg" />
				<img class="slide" src="/media/static/carousel/9.jpg" />
                <img class="slide" src="/media/static/carousel/10.jpg" />
				<img class="slide" src="/media/static/carousel/11.jpg" />
				<img class="slide" src="/media/static/carousel/12.jpg" />
                <img class="slide" src="/media/static/carousel/13.jpg" />
				<img class="slide" src="/media/static/carousel/14.jpg" />
				<img class="slide" src="/media/static/carousel/15.jpg" />
                <img class="slide" src="/media/static/carousel/16.jpg" />
				<img class="slide" src="/media/static/carousel/17.jpg" />
				<img class="slide" src="/media/static/carousel/18.jpg" />
                <img class="slide" src="/media/static/carousel/19.jpg" />
				<img class="slide" src="/media/static/carousel/20.jpg" />
				<img class="slide" src="/media/static/carousel/21.jpg" />
			</div>
		</div>

<script src="{% static 'printrequest/js/carousel.js' %}"></script>
        </div>

    </div>
            <!--Second Section General-->
            <div class="jumbotron-alt shrink">
        <div class="paragraph" style="text-align:center;">
            <font color="#dab844"><h1>GENERAL INFORMATION</h1></font><br>
            <br><strong><font color="#dab844"><h3>HELLO ASME FAMILY,</h3><br>
            As many of you have already heard, UCF is moving to remote instruction for the rest of the semester.
            Unfortunately this means that our ASME at UCF chapter will be cancelling all meetings and events for the
            rest of the semester as students are advised to not return to campus and organize large gatherings.
            <strong>Our SDC, IREC, and HPV Project teams are advised to keep working remotely and continuing to meet milestones. </strong>
            The Cardboard Boat Regatta Project has been cancelled. Please stay tuned for updates on our website and on slack for more information of projects,
            workshops, events, and tours that we will be offering in the Summer and Fall. Our team will be following up with updates on the Officer Board Election
            process at the end of the semester. These updates will be TENTATIVE as we are continuing to monitor COVID-19 and the state protocols on University gatherings.
            <br><br><strong>If you have any questions about events, projects, memberships, workshops, etc. please do no hesitate to reach out to me or our officer team</strong>.
            <br>Please check <u><a href="https://www.ucf.edu/safety/coronavirus/" target="_blank">https://www.ucf.edu/safety/coronavirus/</a></u>
            for the most recent updates. <br><br>​Hope everyone stays healthy and safe for the rest of the semester. Thank you.</font></strong>
        </div>
    </div>

            <span class="new">
            <!-- Third Section    Social Section-->
            <div class="jumbotron-alt order">

    <div class="paragraph" style="text-align:center;">
        <strong><font size="5" color="#dab844">Check out UCF ASME on social media!</font></strong>
    </div>

<!--social image-->
    <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">

<img src="/media/static/asme-update_orig.png" alt="Picture" style="width:auto;max-width:100%">

</div>

<!--social icons-->
<div style="text-align:center;">
<span class="wsite-social wsite-social-default">
    <a class="facebook" href="https://www.facebook.com/ASME.UCF/" target="_blank" alt="Facebook">
        <span class="social-item-inner"></span></a>
    <a class="twitter" href="https://twitter.com/ucfasme" target="_blank" alt="Twitter">
        <span class="social-item-inner"></span></a>
    <a class="instagram" href="https://www.instagram.com/ucfasme/" target="_blank" alt="Instagram">
        <span class="social-item-inner"></span></a>
    <a class="email" href="mailto:ucfasme@gmail.com" target="_blank" alt="Mail">
        <span class="social-item-inner"></span></a>
    <a class="slack" href="https://asmeatucf.slack.com/" target="_blank" alt="Slack">
        <span class="social-item-inner"></span></a></span>
</div>


</div>
            <!--Fourth Section SignUp-->
            <div class="jumbotron order">
                <div class="paragraph" style="text-align:center;">
                    <strong><font color="#2a2a2a"><font size="4">Visit our office!</font><br>
                    <u>ENG1 Room 140</u></font></strong><br><font size="3"><strong>
                    <font color="#2a2a2a">Monday 9am - 10am<br>Tuesday 10am - 1pm<br>​Wednesday 1pm - 3pm<br>
                    Thursday 10am - 1pm</font></strong></font><br><br><font size="4"><u><strong>
                    <font color="#2a2a2a"><a href="https://us5.list-manage.com/subscribe?u=94a1ae165d32150eb34d17c32&amp;id=844bc8a415" target="_blank">​</a></font></strong></u>

                    <strong><font color="#a82e2e">Sign up </font></strong>
                    <a href="https://us5.list-manage.com/subscribe?u=94a1ae165d32150eb34d17c32&amp;id=844bc8a415" target="_blank">

                    <strong><u><font color="#111111">here</font></u></strong>
                    </a>
                    <strong style="color:rgb(168, 46, 46)">to receive our ASME Newsletters</strong><br>

                    <strong style="color:rgb(168, 46, 46)">Join our Slack</strong>
                    <u>
                    <strong><a href="https://asmeatucf.slack.com/signup" target="_blank">
                    <font color="#111111">here</font></a></strong></u>
                    <strong style="color:rgb(168, 46, 46)">to talk with our officers</strong>
                    </font><br><span><font size="4"><em><font color="#2a2a2a">Questions, Comments, or Concerns?</font></em><br>
                    <strong><font color="#2a2a2a">Email us at </font><font color="#a82e2e">ucfasme@gmail.com</font></strong></font></span>
                </div>

                <!--horizontal row-->
                <div>
<hr class="styled-hr" style="width:100%;">
</div>

                <div class="paragraph" style="text-align:center;">
    <font size="6" color="#2a2a2a">
        <strong style="">Interested in joining?</strong></font>
</div>

                <div style="text-align:center;">

<a class="" href="http://www.asmeatucf.com/membership.html">
<span class="">SIGN UP NOW</span>
</a>
</div>
            <!-- end signup jumbotron -->
            </div>
            </span>

            <!--5th section announcements-->
            <div class="jumbotron-alt shrink2">

                <div style="width: 100%">
                    <div class="paragraph" style="text-align: center">
                        <strong><font size="6" color="#2a2a2a">ANNOUNCEMENTS</font></strong>
                    </div>

                    <div class="paragraph" style="text-align: center">
                        <strong style="color:rgb(42, 42, 42)"><em>Check out what ASME at UCF is up to:<br></em></strong>
                    </div>
                    <!--horizontal row-->
                    <div>
<hr class="styled-hr" style="width:100%;">
</div>

                    <!--tours-->

                    <div id="tours">
                        <div class="content-color-box-wrapper">

    <div class="paragraph" style="text-align:center;">
        <strong><font color="#2a2a2a" size="6">TOURS</font></strong>
    </div>

<!--horizontal row-->
<div>
<hr class="styled-hr" style="width:100%;">
</div>

<div class="paragraph" style="text-align:justify;">
    <br><font color="#2a2a2a"><strong><font size="5">Gencor**</font>
    <u><font size="4">Internship Opportunity</font></u><br><font size="4">Gencor&nbsp;</font></strong>
    <strong>Industries is still seeking interns. Former ASME VP Luis Villa is looking at ASME members to fill the positions. Apply Now on the Sign-Ups page.</strong></font>
</div>


</div>

                    </div>

                    <div class="content-color-box-wrapper">
<div style="width: 100%"><div></div><div class="paragraph" style="text-align:center;"><strong><font color="#dab844" size="6">WORKSHOPS PROJECTS</font></strong></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;">
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;"><font color="#e0bf5c" size="5"><strong>TBA</strong></font></div></div>
</div>


                    <div class="content-color-box-wrapper">
<div style="width: 100%"><div></div><div class="paragraph" style="text-align:center; font-size: 2em;"><strong>SOCIALS</strong></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;">
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:justify;"><font size="5"><strong>TBA</strong></font></div></div>
</div>


                    <div class="content-color-box-wrapper">

                    <div class="paragraph" style="text-align:center;">
                        <strong><font size="6" color="#dab844">VOLUNTEERING</font></strong>
                    </div>

                    <!--Horizontal Bar-->
                    <div>
                    <hr class="styled-hr" style="width:100%;">
                    </div>

                    <div class="paragraph" style="text-align:justify;">
                        <font color="#dab844" size="5"><strong>TBA</strong></font><br>
                        <font color="#dab844" size="5">​</font>
                    </div>

                </div>

                    <div class="paragraph" style="text-align:justify;"><font size="3" ><strong>Take a look at the seemingly endless opportunities ASME has to offer. We encourage you to join any project that interests you even if you have little or no previous experience. ASME provides access to all kinds of opportunities.</strong></font>
</div>
                </div>

            <!--End Announcement Jumbotron-->
            </div>

        <!--End Flex fiv    -->
        </div>
    </div>



</body>


{% endblock %}