{% extends "base.html" %}

{% load feincms3 %}

{% block head %}
    <meta charset="UTF-8">
    <title>Welcome!</title>



    {% load static %}
    <link href="{% static 'printrequest/css/standard.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

{% block title %}{{ page.title }} - {{ block.super }}{% endblock %}

{% block body %}



  <main>

    <body class="wsite-background">
      <div class="container-body" id="container">
        <div class="jumbotron">
          <h1>{{ page.title }}</h1>
          {% render_region regions "main" %}

        </div>
          <script src="{% static 'printrequest/js/standard.js' %}"></script>
      </div>
    </body>
  </main>





{% endblock %}