{% extends "base.html" %}


{% block head %}
{% load static %}
    <link href="{% static 'printrequest/css/standard.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% include_block page.body %}

{% block body_class %}template-blogpage{% endblock %}

{% block body %}

<body class="wsite-background">


    <div class="container">
    <div class="intro">{{ page.intro|richtext }}</div>

        <div class="carousel">
			<div class="slides">
                {% for item in page.gallery_images.all %}
                <span class="slide" style="height: 250px">

                    {% image item.image fill-340x250 %}

                </span>
                {% endfor %}

			</div>

		</div>

<script src="{% static 'printrequest/js/carousel.js' %}"></script>

    </div>
    <div class="page-body">
            {% for block in page.body %}

            <div class="jumbotron">{% include_block block %}</div>
            {% endfor %}

        </div>
    {% for post in page.get_children.dontdothis %}
        <div class="jumbotron">
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {{ post.specific.intro }}
        {{ post.specific.body|richtext }}
            {{ page.body|richtext }}

        </div>
    {% endfor %}
</body>
{% endblock %}

